{% extends "base.html" %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}

{% block content %}

        <!-- Header-->
        <header class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 offset-4">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">
                            <!-- <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Software &middot; Backend &middot; AI</div></div> -->
                            <div class="fs-3 fw-light text-muted">Let's learn a new language!</div>
                            <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">LangMaster</span></h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-info btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'vocab_list' %}">내 단어장</a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'vocab_post' %}">새로운 단어 추가</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}