{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Base 페이지</title>
    <link rel="stylesheet" href="{% static '/css/book.css' %}">
    <link rel="stylesheet" href="{% static '/css/user.css' %}">
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static '/js/book_search.js' %}"></script>
    
</head>
<body>
    <div id="wrap">
        {% include "navbar.html" %}
        <hr>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>