<nav>
    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'book_list' %}">도서목록</a></li>
        <li><a href="{% url 'book_insert' %}">도서 정보 추가</a></li>
        <li><a href="{% url 'book_search_form' %}">도서 검색</a></li>

        {% if user.is_authenticated %}
            <li><a href="">{{ user.username }}님 로그인 했음</a></li>
            <li><a href="{% url 'sign_out' %}">로그아웃</a></li>
        {% else %}
            <li><a href="{% url 'sign_in' %}">로그인</a></li>
            <li><a href="{% url 'sign_in2' %}">로그인2</a></li>
            <li><a href="{% url 'sign_up' %}">회원가입</a></li>
            <li><a href="{% url 'sign_up2' %}">회원가입2</a></li>
        {% endif %}
    </ul>
</nav>