
#chat-message-list {
    padding: 0;
    list-style: none;
}
.chat-message .message {
    background-color: #3b3b3d;
    color: #e1e1e1;
    border-radius: 0.8em;
    padding: 0.4em;
    margin: 0.4em 0;
    display: inline-block;
    white-space: pre-wrap;
}

.chat-message.me {
    text-align: right;
}
.chat-message.me .message {
    background-color: #1f8cff;
    color: #fff;
    text-align: left;
}
.chat-message .say{
    display: inline-block;
    font-size: .8em;
    margin-top: -0.4em;
    margin-left: 0.2em;
    cursor: pointer;
}
.chat-message .stopsay{
    display: inline-block;
    font-size: .8em;
    margin-top: -0.4em;
    margin-left: 0.2em;
    cursor: pointer;
}