<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
    <!-- <py-script src="../../STT.py"></py-script>
    <button id="stt" pys-onClick="listen">마이크온</button>
    <h1 id="result"></h1>

    <py-script>
        import STT
    </py-script>
    <button id="stt" pys-onClick="listen">마이크온</button>
    <h1 id="result"></h1> -->
    <div class="d-grid gap-2 mb-2">
        <button class="btn btn-primary" id="speech-to-text">
            마이크 온
        </button>
    </div>
    <select id="voice-list" class="form-select mb-2"></select>
    <div class="d-flex gap-2">
        <button class="btn btn-secondary" id="recommend-button">추천받기</button>
        <form id="message-form" class="d-flex gap-1 flex-grow-1">
            <input type="text"
                   name="message"
                   placeholder="메시지를 입력하세요."
                   class="form-control flex-grow-1" />
        </form>
    </div>
</body>
<script>

(function() {
    const micButton = document.getElementById("speech-to-text");
        
        micButton.addEventListener("click", () => {
            // test
            console.log('mic test');

            const { spawn } = require('child_process');

            // 2. spawn을 통해 "python 파이썬파일.py" 명령어 실행
            const result = spawn('python', ['STT.py']);

            // 3. stdout의 'data'이벤트리스너로 실행결과를 받는다.
            result.stdout.on('data', function(data) {
                const data = JSON.parse(data.toString()); // toString안하면 Buffer출력됨
                console.log(data);   
            }) 

            result.stderr.on('data', function(data){
                console.error(`Error: ${data}`);
            });
        });


})();
</script>

</html>