body{
    background: beige;
    height: 100%;
    margin: 25px 0;
    padding-left: 300px;
}

table, th, td{
    border: 1px solid pink;
}

tr:hover{
    background-color: skyblue;
}

th{
    background-color: blanchedalmond;
    color: white;
}
button{
    border-radius: 12px;
    color: aquamarine;
    cursor: pointer;
}